<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="../../static/js/base.js"></script>

    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="../../static/css/main_home.css">

    <script src="../../static/js/bottom.js"></script>
    <link rel="stylesheet" href="../../static/css/footer.css">

    <title>Main_Home_Page</title>
</head>
<body>

<div nav-include-path="../../templates/fragments/navbar.html">
    <script>LoadNAVBAR();</script>
</div>

<div class="main_title">
    <img src="../../static/img/likelion_face.png" alt="logo" class="likelion_face">
    <div class="main_title_kau">
        <h1 class="like">멋쟁이</h1>
        <h1 class="lion">사자처럼</h1>
        <h2 class="main_kau">한국항공대학교</h2>
    </div>

</div>

</body>
</html>