@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;
}

.main_title{
    display: flex;
    width: 1440px;
    justify-content: center;
}

.likelion_face{
    width: 100px;
    height: 100px;
}

.main_title_kau{
    justify-content: center;
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 39px;
    color: #fe9519;
}
.lion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}
.main_kau{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}
.assginment_row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1440px;
    margin: 50px;

}
.assignment_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    margin: 0 auto;
}
.submit_title{
    padding: 50px;
    color: var(--color-orange-main);
    font-size: 32px;
    font-family: "Gmarket Sans";
    text-decoration: none;
}
.assignment_list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    margin: 0 auto;
}
.assignment_list_title{
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--color-orange-main);
    font-size: 32px;
    font-family: "Gmarket Sans";
    text-decoration: none;
}
.kau_insta{
    display: flex;
    align-items: center;

    width: 1440px;
    margin: 0px;
    margin-left: 150px;
    padding-right: 200px;
}
.sns_kau{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.kau_insta_title{
    padding-left: 20px;
}