@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;
}

.main_title{
    display: flex;
    width: 1440px;
    justify-content: center;
}

.likelion_face{
    width: 100px;
    height: 100px;
}

.main_title_kau{
    justify-content: center;
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}
.lion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}
.main_kau{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}