
@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-main-black: #000000;
    --color-orange-main: #fe9519;
}

.readme{
    display:block;
    margin: 0 auto;
    padding-top: 20px;
}

.title_letme{
    font-size: 16px;
    font-family: 'Gmarket Sans';
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-orange-main);
}

.me{
    display: flex;
}

.picture{
    width: 200px;
    height: 200px;
}

.name{
    font-family: 'Gmarket Sans';
    display: block;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 16px;
}

.insta_btn{
    width: 150px;
    height: 150px;
    background-color: white;
    border: none;
}

.sns_i{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.insta{
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.id{
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Gmarket Sans';
    text-decoration: none;
}

.b_btn{
    background-color: white;
    width: 150px;
    height: 150px;
    border: none;
}

.sns_2{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.blog{
    display: flex;
    padding-top: 30px;
    align-items: center;
}

.account{
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Gmarket Sans';
    text-decoration: none;
}



